h2 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Baloo Tamma 2', cursive;
}

h1 {
  color: #DBB4AD;
  font-size: 32px;
  font-weight: 600;
}

h2, h3, h4 {
  color: black;
  font-size: 32px;
  font-weight: 600;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  color: #D387AB;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: #FFEDE1;
}
