body {
  background-color: white;
}

h1 {
  color: #DBB4AD;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
  color: #7C7C7C;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: #353534;
  font-size: 32px;
  font-weight: 600;

}

h4 {
  color: black;
  font-size: 32px;
  font-weight: 600;
}


a {
  font-family: 'Open sans', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    text-decoration: none !important;
  }
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline i:hover {
  color: #FFEDE1;
}

.global-container{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

