<br>
<br>
<br>
<br>

<div class= "container">
  <h2>Find what you need 🌈</h2>
</div>

<div class="container-cards-index d-flex flex-wrap">
  <% @trucks.each do |truck| %>
    <div class="col-4">
      <div class="card" style="width: 100%;">
        <% if truck.photo.attached? %>
        <%= cl_image_tag truck.photo.key, class: "index-cards-photo" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= truck.name %></h5>
          <p class="card-text"> Price : <%=truck.price %></p>
          <%= link_to "Book now", truck_path(truck), class: "btn btn-trucks-index"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>


