
<%# Banner section %>
<body style="background-color: white">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1567129937968-cdad8f07e2f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1290&q=80);">
    <div class="container">
      <h1>Discover our concept trucks and enjoy a <br> customized experience for your events!</h1> <br>
      <div class="hp-buttons mt-5">
        <%= link_to "RENT YOUR TRUCK", new_truck_path, class: "btn btn-white mr-3" %>
        <%= link_to "BROWSE ALL TRUCKS", trucks_path, class: "btn btn-black ml-3" %>
      </div>
    </div>
  </div>

  <!-- d-flex flex-wrap align-items-cente -->


  <%# Cards section %>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="hp-fold">
      <h3>DISCOVER OUR TOP TRUCKS IN YOUR AREA </h3>
    </div>
    <br>
    <br>
    <br>
    <div class="cards">
      <%= link_to truck_path(Truck.find_by(category: 'Yoga')) do  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1545205597-3d9d02c29597?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
        Yoga vibe
      </div>
      <% end %>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532635239-06e08db8f247?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
        Cocktails lovers
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1504437484202-613bb51ce359?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80)">
        Little ones
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Foodistas
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533779088228-9db21617b403?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">
        Pups & Kitties
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521776943084-9a3512bd6311?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">
        Fortune teller
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</body>
