
  <div class="container_profile">

    <div class="card-white" id="introduction">
      <h1>Hello, I'm Romain !</h1>
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1544604383/pnqv3gmdpbtqrstpqgls.jpg" class="img-circle" width="150px" alt="Melanie Andral picture">
      <p>
        Paris📍
        <br>
        <br>
      </p>
      <a href="#" class="btn-blue" >Discover my trucks</a>
    </div>

    <div class="card-last">
      <h2>Follow me</h2>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/melanieandral" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/MlleAndral" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/andral-melanie/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

