
  <div class="container_profile">

    <div class="card-white" id="introduction">
      <h1>My Dashboard</h1>
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1544604383/pnqv3gmdpbtqrstpqgls.jpg" class="img-circle" width="150px" alt="Melanie Andral picture">
      <h4>
        <br>
        Paris📍
        </h4>
      </p>
      <%= link_to "My Trucks", trucks_path, class: "btn btn-primary mr-4" %>
      <%= link_to "My Bookings", bookings_path, class: "btn btn-primary mr-4" %>
    </div>

    <div class="card-last">
      <h4>Follow me</h4>
      <br>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/melanieandral" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/MlleAndral" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/andral-melanie/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

