
  <div class="container_profile">

    <div class="card-white" id="introduction">
      <h1>My Dashboard</h1>
      <img src="https://avatars2.githubusercontent.com/u/61792775?s=460&u=f5de9677ca7402acd343c35e858897ff7822f351&v=4" class="img-circle" width="150px" alt="Melanie Andral picture">
      <h4>
        <br>
        Paris📍
        </h4>
      </p>
      <%= link_to "My Trucks", my_trucks_path, class: "btn btn-trucks-index mr-4" %>
      <%= link_to "My Bookings", bookings_path, class: "btn btn-trucks-profile mr-4" %>
    </div>

    <div class="card-last">
      <h4>Follow me</h4>
      <br>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/melanieandral" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/MlleAndral" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/andral-melanie/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

