.hp-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white {
  color: #000000;
  background-color: #FFFFFF;
  border: 0.5px solid #4A4A4A;
  padding: 10px 40px 10px 40px;
  width: 250px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
  font: open sans;
}
.btn-white:hover {
  // opacity: 1;
  color: #FDA3B1
}
.btn-black {
  color: #FFFFFF;
  background-color: #000000;
  border: 0.5px solid #4A4A4A;
  padding: 10px 40px 10px 40px;
  width: 250px;
  border-radius: 50px;
  // opacity: 1;
  // transition: opacity 0.3s ease;
}
.btn-black:hover {
  // opacity: 1;
  color: #FDA3B1
}

.btn-trucks-index {
  background-color: #6B72E1;
}

.btn-trucks-profile {
  background-color: #FDA3B1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}



.btn-trucks-index {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-show {
  text-decoration: none !important;
  background-color: #FDA3B1 !important;
  color: white !important;
  padding: 15px 20px !important;
  border-radius: 4px !important;
  &:hover {
    color: #6B72E1 !important;
  }

}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    width: 45%;
    text-align: center;

  }
  input {
    width: 45%;
    text-align: center;

  }
}



